<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Confirmation mail</title>
</head>
<body>
  <br/>
    Bonjour <strong><%= @user.first_name%></strong>,<br/>
    Bienvenue sur runbnb, merci de cliquer sur le lien suivant pour confirmer votre inscription.
    <br/>
    <%=link_to "Confirmez", @url + "/confirm?" + {token: @token, id: @user.id}.to_param, method: :get %>
</body>
</html>